<div class="container-fluid">
<h1>My Latest Dives</h1>
	<!-- Add/Clear -->
	<div class="row">
		<div class="col-sm-5">
			<button class="btn btn-primary btn-lg"
				[disabled]="!enableAdd()"
				(click)="addDive()">
				Add new site
			</button>
			<button class="btn btn-danger btn-lg"
				(click)="clearDives()">
				Clear Dives
			</button>
		</div>
	</div>
	<!-- Search box -->
	<div class="row">
		<div class="col-sm-4 col-sm-offset-8">
			<input #searchBox class="form-control input-lg"
				placeholder="Search"
				(keyup)="0"/> 
		</div>
	</div>
	<!-- Divelog Listing -->
	<div class="row">
	<div class="col-sm-4"
		*ngFor="let dive of dives | contentFilter:searchBox.value">
		<h3>{{dive.site}}</h3>
		<h4>{{dive.location}}</h4>
		<h2>{{dive.depth}} feet | {{dive.time}} min</h2>
	</div>
	</div>
</div>